# Naming & App config output files should not be synces
naming.json
config.json
mgmtNaming.json
mspNaming.json
lnd1Naming.json
lnd2Naming.json
lndzNaming.json
cntyNaming.json
toolNaming.json
namingInput.json
#workflowInfo.json
automationAccount.json
automationAccountArtifacts.json
computeGallery.json
ddosProtectionPlan.json
functionApp.json
keyVault.json
logicApp.json
managedIdentity.json
policy.json
privateDnsZone.json
privateEndpoint.json
recoveryServicesVault.json
roleAssignment.json
serviceBus.json
storageAccount.json
virtualMachine.json
virtualNetwork.json
workBook.json
workspace.json
diskEncryptionSet.json
automation.json
itsm.json
monitoring.json
publicIp.json
vNetPeering.json
activityLogAlertRule.json
.vscode/settings.json
